
<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="myFirstApp">
  <head>
    <script src="js/angular.js"> </script>
    <script src="js/myjs.js"> </script>
    <meta charset="utf-8">
    <title>Coursera Taught Course BY Professor</title>
  </head>
  <body>
    <h1> Hey there !! Hand Waving.... </h1>
    <h2> Another heading for that. </h2>
    <h3> Heading thats h3 </h3>
    <h4> Heading thats the h4 </h4>
    <h5> Heading thats h5 </h5>
    <h6> Heading thats h6 </h6>
    <p>  That's how a paragraph looks like right now.</p>

    <div ng-controller="myFirstController">
      {{firstName+" "+ lastName}}
      <br/> <hr/>
      <label text="">First Name</label>
        <input type="text" ng-model="firstName">
        <br/>

        <label>Last Name</label>
          <input type="text" ng-model="lastName">
          <br/>

<h3> Your full name is {{nameFunction(); fullName}}</h3>

    </div>

    <br/>
    <hr><hr>
  </body>
</html>
